
@{
    ViewData["Title"] = "AddPhoneSummary";
}
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
<h1>Added smartphone</h1>

<html>
<head>

</head>
<body>
    <h2>@TempData["FullDevice"]</h2>
    <hr />
    <h2>@TempData["Specs"]</h2>
    <hr />
    <h2>@TempData["Dimensions"]</h2>
    <hr />
    <h2>@TempData["Price"]</h2>
    <hr />
</body>
</html>

