
@{
    ViewData["Title"] = "OrderFormSummary";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
</head>
<body>
    <!--Imię i nazwisko-->
    <h2>@ViewBag.userName</h2>
    <hr />
    <!--Zamówione urządzenie-->
    <h2>@ViewBag.orderedDevice</h2>
</body>
</html>

