USE [master]
GO
/****** Object:  Database [CodersTeam]    Script Date: 05.02.2020 19:45:21 ******/
CREATE DATABASE [CodersTeam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodersTeam', FILENAME = N'F:\mservices\MSSQL14.MSSQLSERVER\MSSQL\DATA\CodersTeam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CodersTeam_log', FILENAME = N'F:\mservices\MSSQL14.MSSQLSERVER\MSSQL\DATA\CodersTeam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodersTeam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodersTeam]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05.02.2020 19:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programmers]    Script Date: 05.02.2020 19:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programmers](
	[idProgrammer] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[surname] [nvarchar](max) NULL,
	[level] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Programmers] PRIMARY KEY CLUSTERED 
(
	[idProgrammer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 05.02.2020 19:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[idProject] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[idProgrammer] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Projects] PRIMARY KEY CLUSTERED 
(
	[idProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Programmers] ON 

INSERT [dbo].[Programmers] ([idProgrammer], [name], [surname], [level]) VALUES (1, N'Janusz', N'Biernat', 2)
INSERT [dbo].[Programmers] ([idProgrammer], [name], [surname], [level]) VALUES (2, N'Adam', N'Małysz', 4)
SET IDENTITY_INSERT [dbo].[Programmers] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([idProject], [name], [idProgrammer]) VALUES (1, N'Problem komiwojazer', 2)
INSERT [dbo].[Projects] ([idProject], [name], [idProgrammer]) VALUES (2, N'Algorytm genetyczny', 1)
INSERT [dbo].[Projects] ([idProject], [name], [idProgrammer]) VALUES (4, N'Machine learning', 1)
SET IDENTITY_INSERT [dbo].[Projects] OFF
/****** Object:  Index [IX_idProgrammer]    Script Date: 05.02.2020 19:45:22 ******/
CREATE NONCLUSTERED INDEX [IX_idProgrammer] ON [dbo].[Projects]
(
	[idProgrammer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Projects_dbo.Programmers_idProgrammer] FOREIGN KEY([idProgrammer])
REFERENCES [dbo].[Programmers] ([idProgrammer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_dbo.Projects_dbo.Programmers_idProgrammer]
GO
USE [master]
GO
