<!--Przejście do innej podstrony-->
<h2>@Html.ActionLink("Przejdź do linków", "InterestingLinks", "Home")</h2>

<hr />

<!-- Przejście do podstrony pokazującej wszystkie samochody-->
<h3>@Html.ActionLink("Pokaż wszystkie samochody", "GetAllCars", "Home")</h3>

<hr />

<!-- Przejście do podstrony pokazującej wszystkie modele-->
<h3>@Html.ActionLink("Pokaż wszystkie modele", "GetListOfModels", "Home")</h3>

<hr />


<!---Przejście do podstrony z formą kontaktową-->
<h3>@Html.ActionLink("Forma kontaktowa", "ContactForm", "Home")</h3>