@{
    ViewData["Title"] = "InterestingLinks";
}

<h2>InterestingLinks</h2>

<a href="https://www.google.com">Google</a>
<a href="https://www.facebook.com/">Facebook</a>
<a href="https://twitter.com/?lang=pl">Twitter</a>
