body
{
    background-color: black;
    color:#bd6ff6;
    font-size: 20px;
}
#container
{
    margin: 0px;

}
#header
{
    text-align: center;
    font-size: 45px;
    padding: 35px;
}
#content
{
    color:black;
    margin-top: 10px;
    height: 400px;
    text-align: center;
    background-color: #ab37e9;
}
#footer
{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}